nav li a{text-decoration: none}

nav li a:link {
  color: red;
}

/* visited link */
nav li a:visited {
  color: green;
}

/* mouse over link */
nav li a:hover {
  color: hotpink;
}

/* selected link */
nav li a:active {
  color: blue;
}

/*네이바 가로 방향으로 */
#navbar ul{
	display: flex;
	justify-content: center; /*가로 아이템들 정렬*/
	align-items: center;/*세로 아이템들 정렬*/
}

#navbar ul li{
	display: inline-block;
	margin:0 10px;
	font-weight:bold;
}

#navbar{
	background-color: #F1FFFF;
	padding:10px;
}

#navbar .nav-item.logo img{
	width: 100%; height:100%
}




